body {
  background-color: #333;
}

.login-btn {
  background-color: #9e9e9e;
}

.dark-color {
  background-color: #292929;
}

.form-color {
  background-color: #333;
}

.logo {
  font-size: 2rem;
  color: white;
  text-shadow:
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px 1px 0 red,
    1px 1px 0 red;
  font-family:
    Ruda,
    sans-serif;
}

.profile-pic {
  height: 50vh;
  object-fit: cover;
}

.list-header {
  color: #9e9e9e;
  font-family:
    Ruda,
    sans-serif;
}

ul {
  list-style: none;
}

.position,
.location {
  color: #8d8a8a;
  font-size: 16px;
  font-family:
    Ruda,
    sans-serif;
}

.name {
  color: white;
  display: inline;
}

.good {
  color: #79f45a;
}

.bad {
  color: #eb2e53;
}

.user-list-pic {
  height: 300px;
  object-fit: cover;
}

.edit-pic {
  height: 500px;
  object-fit: cover;
}

.availability,
.edit-profile,
.sign-out {
  font-family:
    "Roboto Slab",
    serif;
}

.form-control,
.form-select {
  background-color: #292929;
  color: white;
  border: none;
}

.edit-pic:hover {
  cursor: pointer;
  border: 1px solid #eb2e53;
  box-shadow: 0 0 10px #333;
}

#hockey-puck {
  color: white;
  font-size: 18rem;
}

.login-logo {
  font-size: 3.5rem;
  color: white;
  text-shadow:
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px 1px 0 red,
    1px 1px 0 red;
  font-family:
    Ruda,
    sans-serif;
}

.message {
  background-color: #535252;
}

.chat {
  height: 75vh;
}

.form-control::placeholder {
  color: white;
}

.chat-body {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.chat-title {
  font-size: 2rem;
  color: white;
  text-shadow:
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px 1px 0 red,
    1px 1px 0 red;
  font-family:
    Ruda,
    sans-serif;
}

.x {
  font-size: 2rem;
}

.notification-popover {
  font-size: 1.5rem;
  position: relative;
  cursor: pointer;
}

.notification-circle {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  border-radius: 50%;
  height: 0.5rem;
  width: 0.5rem;
}

.usernames {
  font-size: 1rem;
  text-decoration: none;
}

.usernames:hover {
  cursor: pointer;
}

.form-control:focus {
  background: #292929;
  color: white;
}
